header {
    min-width: 100%;
}

.backdrop {
    min-height: 100vh;
    background-color: var(--light-blue);
}

.fa-logo-icon {
    max-width: 100px;
}

.fa-menu-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 50px;
}
