pre {
    white-space: pre-wrap;
    margin: 0;
}

#iframe-container iframe {
    height: 300px;
    border: none;
}

.paymaya-form {
    display: flex;
    flex-direction: center;
    justify-content: center;
}
