/* BUTTONS */
.z-btn {
    background-color: transparent;
    color: var(--yellow);
    border-color: var(--yellow);
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 0.125rem;

    font-weight: 500;

    padding: 0.375rem 0.75rem;
    width: 100%;
}

.z-btn:hover {
    background-color: var(--violet);
}

.z-btn-xx-large {
    font-size: xx-large;
}

/* BOX DESIGN */
.header {
    background-color: var(--rich-blue);
}

.category-bar {
    background-color: var(--rich-blue);
}

.food-options {
    background-color: var(--rich-blue);
}

.food-icon-product {
    width: 200px;
}

/* TEXT RELATED */

.z-text-yellow {
    color: var(--yellow);
}

.z-text-orange {
    color: var(--orange);
}

.z-text-brown {
    color: var(--brown);
}

/* LAYOUTS */

.z-flex-center-column-space {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Phones */
@media (min-width: 425px) {
    .menu {
        flex-direction: column;
    }

    .category-bar {
        border-radius: 0;
        margin-bottom: 10px;
    }

    .category-bar-items {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .food-options {
        max-height: 500px;
        overflow-y: auto;
    }
}

/* Desktops */
@media (min-width: 992px) {
    .menu {
        flex-direction: row;
    }

    .category-bar {
        border-radius: 0 10px 10px 0;
    }

    .category-bar-items {
        flex-direction: column;
    }

    .food-options {
        margin: 0 10px;
        border-radius: 10px 10px 10px 10px;
        max-height: 700px;
        overflow-y: auto;
    }
}
