/* BUTTONS */
.z-btn {
    background-color: transparent;
    color: var(--yellow);
    border-color: var(--yellow);
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 0.125rem;

    font-weight: 500;

    padding: 0.375rem 0.75rem;
    width: 100%;
}

.z-btn:hover {
    background-color: var(--dark-blue);
}

.z-btn-xx-large {
    font-size: xx-large;
}

/* BOX DESIGN */
.header {
    background-color: var(--rich-blue);
}

.category-bar {
    background-color: var(--rich-blue);
    border-radius: 0 10px 10px 0;
}

.food-options {
    background-color: var(--rich-blue);
    margin: 0 10px;
    border-radius: 10px 10px 10px 10px;
}

/* TEXT RELATED */

.z-text-yellow {
    color: var(--yellow);
}

.z-text-orange {
    color: var(--orange);
}

.z-text-brown {
    color: var(--brown);
}

/* LAYOUTS */

.z-flex-center-column-space {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}
