html {
    overflow-x: hidden;
}

/* BUTTONS */
.z-btn {
    background-color: transparent;
    border-color: var(--yellow);
    border-radius: 0.375rem;
    border-style: solid;
    border-width: 0.125rem;
    color: var(--yellow);
    font-weight: 500;
    height: 100%;
    padding: 0.375rem 0.75rem;
    width: 100%;
}

.z-btn:hover,
.z-btn:active {
    background-color: var(--violet);
}

.z-btn-xx .z-btn-xx-large {
    font-size: xx-large;
}

/* BOX DESIGN */
.header,
.category-bar,
.food-options,
.footer {
    background-color: var(--rich-blue);
}

.checkout {
    background-color: var(--dark-blue);
}

.cart-item {
    background-color: var(--yellow);
}

/* TEXT RELATED */

.z-text-yellow {
    color: var(--yellow);
}

.z-text-orange {
    color: var(--orange);
}

.z-text-brown {
    color: var(--brown);
}

/* LAYOUTS */

.z-flex-center-column-space {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Phones */
@media (min-width: 320px) {
    .fa-menu-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 2.75rem;
    }
    .menu {
        flex-direction: column;
    }

    .category-bar {
        border-radius: 0;
        margin-bottom: 10px;
    }

    .category-bar-items {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .food-options {
        max-height: 350px;
        width: 100%;
        overflow-x: auto;
    }

    .food-options-container {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .food-icon-product {
        width: 100px;
        margin: 0 10px;
    }

    .footer {
        min-height: 175px;
    }

    .footer-width {
        min-width: 100%;
    }

    .cart {
        max-height: 100px;
        overflow-y: auto;
    }

    .cart-item {
        max-width: 75%;
    }
    .cart-item img {
        width: 50px;
    }
    .cart-item h5 {
        font-size: 1rem;
    }
}

/* Desktops */
@media (min-width: 992px) {
    .fa-menu-text {
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        font-size: 50px;
    }

    .menu {
        flex-direction: row;
    }

    .category-bar {
        border-radius: 0 10px 10px 0;
    }

    .category-bar-items {
        flex-direction: column;
    }

    .food-options {
        margin: 0 10px;
        border-radius: 10px 10px 10px 10px;
        max-height: 500px;
        max-width: 100%;
        overflow-y: auto;
    }

    .food-options-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .food-icon-product {
        width: 200px;
    }

    .footer {
        height: 275px;
    }

    .footer-width {
        min-width: 75%;
    }

    .cart {
        max-height: 200px;
        overflow-y: auto;
    }

    .cart-item {
        min-width: 75%;
    }

    .cart-item img {
        width: 80px;
    }
    .cart-item h5 {
        font-size: 1.5rem;
    }
}
